<template>
  <v-layout
    column
    justify-center
    align-center
  >
    <v-container
      class="fill-height pa-0 "
    >
      <chat
        v-if="!dialog"
        :name="name"
      />
      <v-dialog
        v-model="dialog"
        max-width="290"
      >
        <v-card>
          <v-card-title class="headline">
            Представьтесь
          </v-card-title>

          <v-card-text>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="name"
                  label="Имя"
                />
              </v-col>
            </v-row>
          </v-card-text>

          <v-card-actions>
            <v-spacer />

            <v-btn
              color="green darken-1"
              text
              @click="setName"
            >
              Принять
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-container>
  </v-layout>
</template>

<script>
import Chat from '@/components/Chat'

export default {
  components: {
    Chat
  },
  data () {
    return {
      name: null,
      dialog: true
    }
  },
  methods: {
    setName () {
      if (this.name) {
        this.dialog = false
      }
    }
  }
}
</script>
